.build/

node_modules/

*.a
*.so
*.obj
*.dll
*.lib
*.pdb
*.exe
*.sqlite3
*.crt
*.pem
*.key
*.bak

bin/
.vscode/
jails.json
.project.gf

modules/**/source
modules/**/windows
modules/**/win
modules/**/linux

